<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Task</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('navbar') %>
   

    <div class="container">
         <h1>Add new Task</h1>
        <form class="todo-form" action="/add" method="post">
            <input class="input" type="text" placeholder="Enter Task Title" name="title">
            <br><br>
            <textarea class="input" name="description" id="">

            </textarea>
            <br><br>
            <button class="btn">Add New Task</button>
    </div>
  </body>
</html>
