<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Task</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    
     <div class="container">
        <h1>Update Task Page</h1>
        <form class="todo-form" action="/update" method="post">
            <input class="input" type="text" placeholder="Enter Task Title" name="title">
            <br><br>
            <textarea class="input" name="description" id="">

            </textarea>
            <br><br>
            <button class="btn" >Add New Task</button>
    </div>
  </body>
</html>
